.container {
    clear: left;
    background: white;
    margin-bottom: 16px;
    max-width: 300px;
}
.container:hover {
 cursor: pointer;
 border: 2px solid #00a82d;
}

.containerDragging {
    border: 2px solid #00a82d;
}

.cardFooter {
    padding: 16px
}