html, body, #root, .full-screen  {
    height: 100%;
    width: 100%;
}

/*  KANBAN BOARD COMPONENT */
.column-container {
    display: flex;
    height: 100vh;
}

.login-form-container {
    height: 100%;
}

.login-form-wrapper {
   background: lightgray;
   padding: 40px;
}